form
{
    height: 100vh;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
input
{
    height: auto;
    width: 200px;
    margin-bottom: 20px;
}
.main
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button
{
    height: 20px;
    width: 100px;
    margin-left: 45%;   
}
.email,.password
{
    margin-left: 16px;
}